@{
    Layout = "_Layout";
}

@model EquipmentModel
@{
    ViewData["Title"] = "Edit equipment";
}

<h2>@ViewData["Title"]</h2>

<form asp-controller="Equipment" asp-action="Edit" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="mb-3">
        <input asp-for="Id" class="form-control" type="hidden"/>
    </div>
    <div class="mb-3">
        <label for="name" class="form-label">Type name</label>
        <input asp-for="Type" class="form-control" id="name" />
        <span asp-validation-for="Type" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
</form>

@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}