@model BookingWorkplace.Core.Abstractions.ISearchString

<form asp-action="Index" method="get" class="d-flex" role="search">
    <input asp-for="SearchString"
           class="form-control me-2"
           type="search"
           placeholder="Search"
           aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>