@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>The application is used to manage workplace reservations in the office.</p>

    <div class="row justify-content-center">
        <h2>For users.</h2>
        <div class="col-6 text-start">
            <p>The user can view a list of all workplaces, and a list of all equipment used in the office.</p>
            <p>The application allows the user to book a workplace. The application uses a flexible filter system to make it easy to find a suitable workplace. If there is any chance of satisfying the user's needs - rest assured the app will do it!</p>
            <p>These and many other features are available after a simple <a asp-controller="Account" asp-action="Register">registration</a> procedure.</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <h2>For owners.</h2>
        <div class="col-6 text-start">
            <p>The application allows you to manage workplaces, and equipment used in the office. You can also view your reservation history. Using the application you will always know what equipment is at your workplaces. And information about the necessary movements of equipment will come to you directly in the <b>Console</b>. It is very convenient.</p>

            <p>All you need to do is go through the <a asp-controller="Account" asp-action="Register">registration</a> procedure. <b>Hurry up. The first user to register will become an administrator.</b></p>
        </div>
    </div>


</div>